html, body{
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;

	margin: 0;
	padding: 0;
}

a{text-transform: none; color: inherit;}

.header{
	position: fixed;
	left: 0;
	right: 0;
	height: 66px;
	line-height: 66px;
	color:#FFF;
	background-color: #2e7d32;
}

.header__logo{
	font-weight: bold;
	padding: 0 25px;
	float: left;
}

.menu{
	float: left;
}

.menu, a {
	padding: 0 10px;
}

.menu a:hover {
	color: #c6ff00;
}
.site-content{
	padding-top: 66px;
}

.container{
	margin: 0 10px;
	clear: both;
}


@media only screen and (max-width: 750px){
	.site-container{
		overflow: hidden; 
		height: 100%;
	}
	.site-content{
		position: absolute;
		top: 66px;
		right: 0;
		left: 0;
		bottom: 0;
		padding-top: 0;
		overflow-y: scroll; 
		//overflow: hidden; 
		--webkit-overflow-scrolling:touch;
	}
	.header{
		position: static;
	}
	.header__icon{
		position: relative;
		float: left;
		display: block;
		width: 35px;
		height: 50px;
		//background-color: #ff0000; 
		cursor: pointer;
	}
	.header__icon:after{
			content:'';
			position: absolute;
			display: block;
			left:20px;
			top: 15px;
			width: 16px;
			height: 0;
			box-shadow: 0px 10px 0px 1px #FFF,0px 16px 0px 1px #FFF, 0px 22px 0px 1px #FFF ;
	}
	.menu{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-color:  #2e7d32; 
 	 	transition-duration: 0.5s;
		width: 250px;
		transform: translateX(-270px);
	}
	.menu a{
		display: block;
		height: 40px;
		text-align: center;
		line-height: 40px;
		border-bottom: 1px solid #009900;
	}
	.with--sidebar {
			transform: translateX(270px);
			overflow: hidden; 
	}
	.with--sidebar, site-cache{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0,0,0,0.6); 
			}
}
